li {
  list-style: none;
  margin: 20px;
}
.textbox {
  margin: 20px;
}

#round {
  border-radius: 50%;
}
#round:hover {
  background-color: black;
}

input {
  width: 250px;
  height: 2.5rem;
}

#catBox {
  background-color: #e1e2e4;
  border-radius: 24px;
  padding: 24px;
  margin: 20px;
}
#itemBox {
  background-color: #c4cee2;
  border-radius: 24px;
  padding: 24px;
  margin: 20px;
}
